<section>
  <div class="row m-auto">

  </div>
  <div class="row tech">
    <div class="back w-100">
      <h1 class="m-auto" href="#first"> Web & Mobile App Development</h1>
      <div class="row w-100 pt-5">
        <div class="col-xl-6 col-ls-6 col-md-6 col-sm-12 col-xs-12 bore">
          <h3>Server Side Tech</h3>
          <ul class="style-none">
            <li>Python</li>
            <li>Django</li>
            <li>Django Rest Framework</li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-xl-6 col-ls-6 col-md-6 col-sm-12 col-xs-12 bore">
          <h3>Client Side Tech</h3>
          <ul class="style-none">
            <li>Angular</li>
            <li>Javascript</li>
            <li>Bootstrap</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>jQuery</li>

          </ul>
        </div>
  </div>

    <div class="row w-100 pt-5">
          <div class="col-xl-6 col-ls-6 col-md-6 col-sm-12 col-xs-12 bore">
            <h3>Database & Containers</h3>
            <ul class="style-none">
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>Docker</li>
              <li>Vagrabnt</li>
            </ul>
          </div>
          <div class="col-xl-6 col-ls-6 col-md-6 col-sm-12 col-xs-12 bore">
            <h3>Mobile App Development</h3>
            <ul class="style-none">
              <li>Nativescript</li>
              <li>Angular</li>
            </ul>
          </div>
    </div>
    </div>

  </div>

</section>


<section>
    <div class="row w-100 p-5 m-auto">
      <h3 class="m-auto white">Live Applications</h3>
      <div class="row pt-5 w-100">
        <div class="col-8 m-auto">
          <div class="row boxstyle">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <h3><a href="#">Animated UI</a></h3>
              <p class="white">Tech Used-HTML, CSS, Bootstrap, jQuery, Javascript</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2 m-auto text-center">
              <button type="submit" class="btn btn-outline-primary">Explore</button>
            </div>
          </div>
          </div>

          <div class="col-8 m-auto pt-5">
            <div class="row boxstyle">
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <h3><a href="#">Food Delievery App</a></h3>
                <p class="white">Tech Used-HTML, CSS, Bootstrap, jQuery, Javascript</p>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2 m-auto text-center">
                <button type="submit" class="btn btn-outline-primary">Explore</button>
              </div>
            </div>
            </div>

            <div class="col-8 m-auto pt-5">
              <div class="row boxstyle">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                  <h3><a href="#">Blog App</a></h3>
                  <p class="white">Tech Used- Python, Django, DjangoRestFramework, Angular, CSS, Bootstrap,</p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-2 m-auto text-center">
                  <button type="submit" class="btn btn-outline-primary">Explore</button>
                </div>
              </div>
              </div>
      </div>
    </div>
</section>
