
.web{
  background-image: url(../../assets/computer.jpg);
}
.service{

  color: brown
}
.image{
  padding: 3rem;
}
.card{
  background-color: black;
  border-color: red red black red;
}
.card h2{
  color: whitesmoke;
}
.team{
  background-image: url(../../assets/team1.jpg);
}
.box{
  background-color: rgba(0, 0, 0, 0.609);
  border-color: red red black red;
  color: whitesmoke;
  padding-bottom: 5rem;
}
.icons{
  height: 6rem;
  border: 1px solid brown;
  width: 6rem;
}
.box p{
  line-height: 2rem;
}
.box h4{
  text-decoration: underline brown  ;
}
.center{
  text-align: center;
  align-items: center;
  padding: 3rem;
  margin: 2rem;
}
.footer{
border-radius: 8rem 8rem 0rem 0rem;
outline-color: red;
color: white;
border-color: red;
padding: 1rem;
}
.footer ul{
  list-style: none;
  color: whitesmoke;
}
.footer a{
  color: whitesmoke;
}
.footer a:hover{
  color: red;
}
.social{
  color: white;
}
.social img{
  height: 3rem;
  width: 3rem;
}
.social span:hover{
  color: red;

}
