
.web{
  background-image: url(../../assets/computer.jpg);
}
.service{

  color: brown
}
.image{
  padding: 3rem;
  animation: ease-in-out 0.4s;
}
.card{
  background-color: black;
  border-color: red red black red;
}
.animate{
  animation-duration: 1s;
  animation-name: slideAnimation;

}
@keyframes slideAnimation {
  0% {color: white; right: 0px; bottom: -850px;}


  100% {color: #00c0da; right: 0px;  bottom: 0px;}
}
.card h2{
  color: whitesmoke;
}
/* about team */
.team{
  background-image: url(../../assets/team1.jpg);
}
.box{
  background-color: rgba(0, 0, 0, 0.609);
  border-color: red red black red;
  color: whitesmoke;
  padding-bottom: 5rem;
}
.icons{
  height: 6rem;
  border: 1px solid brown;
  width: 6rem;
}
.box p{
  line-height: 2rem;
}
.box h4{
  text-decoration: underline brown  ;
}
.center{
  text-align: center;
  align-items: center;
  padding: 3rem;
  margin: 2rem;
}

